.card{
    background: #ccc;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
    .card__image{
        border-radius: 1rem 1rem 0 0;
    }
    .card__info{
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        
        .button{
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            margin-top: 2rem;
            padding: 5px 1rem;
            border: none;
            color: white;
            background: red;
            border-radius: 0 0 1rem 0;
            cursor: pointer;
            &:hover{
                background: rgb(157, 40, 40);
            }
        }
    }
}