.moviePage{

    // background: red;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;

    .moviePage__info{
        padding: 0 1rem;
        // background: #ccc;
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .genres{
            display: flex;
            flex-wrap: wrap;
            gap: .8rem;
            align-items: center;
            p{
                background: #ccc;
                color: #fff;
                letter-spacing: 1px;
                padding: .5rem;
                border-radius: 10px;
            }
            
            
        }
        
        
    }
}